name: SonarCloud analysis

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  pull-requests: read

jobs:
  sonar-check:
    name: Sonar Check
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'

      - name: SonarScanner Begin
        run: |
          dotnet tool install --global dotnet-sonarscanner
          echo "$env:USERPROFILE\.dotnet\tools" >> $env:GITHUB_PATH
          dotnet sonarscanner begin `
            /k:"svitlanaena15-cmd_lababa1" `
            /o:"svitlanaena15-cmd" `
            /d:sonar.token="${{ secrets.SONAR_TOKEN }}" `
            /d:sonar.exclusions="**/bin/**,**/obj/**" `
            /d:sonar.coverage.exclusions="**/*.axaml.cs"

        shell: pwsh

      - name: Restore
        run: dotnet restore labora1.sln

      - name: Build
        run: dotnet build labora1.sln -c Release --no-restore

      - name: SonarScanner End
        run: dotnet sonarscanner end /d:sonar.token="${{ secrets.SONAR_TOKEN }}"
        shell: pwsh
